<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG150 | Osztályok</title>
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/memories.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <button id="backbtn" onclick="window.location.href='../index.html'">Vissza a főoldalra</button>
    <div class="container">
        <img src="../assets/logo150.png" class="logo" alt="Logó">
        <h1 style="color: white; letter-spacing: 4px;">Osztályok</h1>
        <p>Bemutatjuk az osztályokat.</p>
        <div class="scroll-indicator"></div>
    </div>

    <div class="videos-container">
        <img class="memory-item" src="../assets/pg5.jpg" alt="1991/1995. osztály">
        <p>1951/1954 osztály | Osztályfőnök: István Márk</p>
        <hr id="kisv">

        <img  class="memory-item" src="../assets/pg3.jpg" alt="PG FC">
        <p>PG FC | 1994-1995 <br>Edző: Tóth Hunor</p>
    </div>
    <hr>
    <p class="footer-text">&copy; Kovács Zoltán programozótársulat ev.<br>Made by Talio with ❤️ and ☕️<br></p>

</body>
</html>