<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG 150.</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <h1>PG 150.</h1>
        <p>Üdvözöljük a PG 150. évfordulójának ünnepoldalán!</p>
        <nav>
            <ul>
                <li class="nav-links"><a href="about.html">Emlékek</a></li>
                <li class="nav-links"><a href="events.html">Osztályok</a></li>
                <li class="nav-links"><a href="gallery.html">Tablók</a></li>
                <li class="nav-links"><a href="contact.html">Videók</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>