<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG 150.</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <img src="../assets/logo150.png" alt="PG 150 Logo">
        <p>Üdvözöljük a PG 150. évfordulójának ünnepoldalán!</p>
        <nav>
            <a class="nav-links" href="contact.html">Videók</a>
            <a class="nav-links" href="about.html">Emlékek</a>
            <a class="nav-links" href="events.html">Osztályok</a>
            <a class="nav-links" href="gallery.html">Tablók</a>
        </nav>
        <div class="scroll-indicator"></div>
    </div>

    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis scelerisque arcu, at iaculis nunc. Morbi at eros eget tellus suscipit pretium. Duis finibus risus ex, in vehicula nulla consequat et. Phasellus at gravida arcu, vitae dictum odio. Curabitur ligula neque, maximus et quam nec, vehicula pellentesque urna. Nulla facilisi. Duis tortor justo, molestie sit amet condimentum eu, egestas at dolor. Aliquam non sodales eros. Nullam id ex non nulla imperdiet viverra nec a tellus. Etiam eget vehicula tortor. Proin convallis, sem eu viverra gravida, nunc purus semper ex, vitae imperdiet lectus est in ipsum.

Duis lobortis elementum justo sit amet feugiat. Nam volutpat lorem eget tortor varius volutpat. Vestibulum leo ante, dictum eget ultricies non, vulputate id diam. Fusce rutrum gravida nisl sit amet finibus. Sed ut ultricies enim, sed varius dolor. Sed nec eros magna. Proin imperdiet tempus ante, ac pretium sapien. Suspendisse ullamcorper scelerisque ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam elementum, risus at tristique rhoncus, nibh magna blandit mi, in posuere quam eros in sem. Integer non malesuada tortor, ut varius tellus. Morbi maximus sapien dolor.

Vestibulum nulla elit, fringilla quis magna et, molestie tempus felis. Mauris ut sollicitudin turpis, efficitur faucibus nibh. Vestibulum fringilla vestibulum nulla eget tempus. Maecenas justo arcu, pellentesque sit amet magna sit amet, malesuada malesuada est. Praesent sagittis urna eget nisl efficitur placerat. Donec posuere eget erat sit amet euismod. Fusce consectetur gravida ex, sit amet porta arcu mattis id. Nullam vel blandit velit, mollis cursus purus. Curabitur et sapien et ex sodales rutrum. Curabitur nibh magna, auctor sed quam sit amet, mollis egestas justo.

Vivamus non venenatis felis. Donec aliquam ut sapien in scelerisque. Vivamus malesuada erat non purus fermentum, ac imperdiet mauris laoreet. Aliquam sit amet ligula ornare, hendrerit neque a, auctor massa. Fusce porta enim et viverra tempus. Fusce tellus est, laoreet et tellus at, tincidunt tristique augue. In ultrices nisl a sem tempus, nec rutrum ligula auctor. Proin porta dolor sed tellus bibendum, vitae dignissim sapien laoreet. Praesent semper gravida quam, venenatis faucibus orci accumsan sed. Mauris luctus porttitor sapien id consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel ornare nisl, id sollicitudin dui. Curabitur malesuada vehicula urna, a fermentum augue lacinia sit amet. Curabitur cursus nisl in nisl hendrerit, id placerat quam dapibus.

Aenean odio odio, molestie dapibus blandit ut, tempus et erat. Sed vestibulum pretium molestie. Nunc venenatis at lectus eu imperdiet. Maecenas euismod leo libero, at rutrum quam ultrices eu. Integer tempor eros ac orci malesuada, vitae aliquet magna malesuada. Cras eu viverra nibh. Quisque vitae nunc dui. Maecenas euismod sem a commodo suscipit. Curabitur placerat ante quis arcu dignissim vehicula. Nullam vitae ligula eu nunc accumsan pharetra eget a quam. Nulla efficitur elit non odio tristique, et pharetra tellus consectetur. Phasellus id risus ultricies, scelerisque sapien elementum, aliquet quam. Phasellus sit amet nisl non ex sagittis auctor. Nulla vitae cursus leo. Vestibulum ante ipsum primis in faucibus.</p>
    </div>
</body>
</html>