<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG 150.</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">
        <img src="../assets/logo150.png" alt="PG 150 Logo">
        <p>Üdvözöljük a PG 150. évfordulójának ünnepoldalán!</p>
        <nav>
            <a class="nav-links" href="contact.html">Videók</a>
            <a class="nav-links" href="about.html">Emlékek</a>
            <a class="nav-links" href="events.html">Osztályok</a>
            <a class="nav-links" href="gallery.html">Tablók</a>
        </nav>
        <div class="scroll-indicator"></div>
    </div>

    <div class="content">
        <h3>Kedves Látogatók! <br>
            Kedves PG-s Öregdiák! <br>
            Kedves Ünneplő! <br>
            Kedves Látogató!
        </h3>

A Kiskunfélegyházi Szent Benedek PG Két Tanítás Nyelvű Technikum és Kollégium - a volt Tanítóképző, Testnevelési Gimnázium, Petőfi Sándor Gimnázium, Petőfi Sándor Gépészeti Szakközépiskola – 2021. SZEPTEMBER 18-ÁN SZOMBATON ünnepli fennállásának 150. évfordulóját, melyre sok szeretettel hívjuk és várjuk!

A rendezvény tervezett programja:

9:00 Gyülekezés, osztálytalálkozók
10:30 Ünnepélyes megnyitó, elismerések adományozása
12:00 Ősballagás a Kossuth utcán, a Petőfi-szobor megkoszorúzása
13:00 Ebéd, osztálytalálkozók, szabadprogram
15:00 Emléktábla avatás
17:00 Kulturális program

A gördülékeny szervezés érdekében tisztelettel kérjük, hogy az ünnepi rendezvényen való részvételhez regisztráljon az alábbi űrlap kitöltésével 2021. szeptember 15-ig.

Segítségét, előzetes regisztrációját előre is köszönjük!

Ha osztálytalálkozót is kívánnak szervezni, kérjük 2021. augusztus 18. és szeptember 15. között lépjenek kapcsolatba az alábbi telefonszámon a szervezőkkel:

Kecskemétiné Hajdú Krisztina +36 30 338 45 99 kecskemetine.krisztina@szbi-pg.hu
Munkanapokon 8.00-15.00 óráig

Az ünnepi rendezvényen az osztálytalálkozók előzetes jelzés alapján 9:00-12.00 óra, illetve 13:00-19:00 óra között tarthatók meg legfeljebb 2 óra időtartamban.

A rendezvény ideje alatt italfogyasztásra és étkezésre is biztosítunk lehetőséget, önköltségi áron, kitelepülő vendéglátó egység segítségével.

Választható ételek: Marhapörkölt - Sültes-tál - Vegetáriánus tál
Az ételek egységára: 1.800 Ft (ami a helyszínen fizetendő).

Regisztrálok az eseményre (A regisztráció lezárult)

Az esemény alkalmából egy jubileumi évkönyvet is megjelentetünk, melyet előzetesen kedvezményes áron is megvásárolhat az alábbi linkre kattintva.

Könyv előrendelés (A regisztráció lezárult)

Kérjük, lehetőségeihez mérten támogassa a rendezvény megszervezését és a 150 éves jubileumi kiadvány megjelentetését. Támogatását a 11732071-20043922 számlaszámra kérjük.

A jubileumi emlékbizottság</p>
<hr>
<p class="footer-text">+36 70 725 7247 | bartabulcsu@gmail.com <br>Made by Talio with ❤️ and ☕️</p>
    </div>
</body>
</html>