<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG150 | Emlékek</title>
    <link rel="stylesheet" href="../styles/memories.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <button id="backbtn" onclick="window.location.href='index.html'">Vissza a főoldalra</button>
    <div class="container">
        <img src="../assets/logo150.png" class="logo" alt="Logó">
        <h1 style="color: white; letter-spacing: 4px;">Emlékek</h1>
        <p>Itt találhatók a PG 150. évfordulójához kapcsolódó emlékek.</p>
        <div class="scroll-indicator"></div>
    </div>

    <div class="memories-container">
        <div class="memory-item">
            <img src="../assets/1. fejezet.jpg" alt="Emlék 1">
            <p>Leírás az emlék 1-ről</p>
        </div>
        <div class="memory-item">
            <img src="../assets/2. fejezet.jpg" alt="Emlék 2">
            <p>Leírás az emlék 2-ről</p>
        </div>
        <div class="memory-item">
            <img src="../assets/3. fejezet.jpg" alt="Emlék 3">
            <p>Leírás az emlék 3-ról</p>
        </div>
    <hr>
    <p class="footer-text">&copy; Kovács Zoltán programozótársulat ev.<br>Made by Talio with ❤️ and ☕️<br></p>

</body>
</html>