<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG150 | Képek</title>
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <button id="backbtn" onclick="window.location.href='../index.html'">Vissza a főoldalra</button>
    <div class="container">
        <img src="../assets/logo150.png" class="logo" alt="Logó">
        <h1 style="color: white; letter-spacing: 4px;">Képek</h1>
        <p>Itt találhatók az őskövületi korokból származó képek.</p>
        <div class="scroll-indicator"></div>
    </div>

    <div class="videos-container">
        <img src="../assets/table1.jpg" alt="Tabló 1">
        <p>Leírás az 1. tablóról</p>
        <hr id="kisv">
    </div>
    <hr>
    <p class="footer-text">&copy; Kovács Zoltán programozótársulat ev.<br>Made by Talio with ❤️ and ☕️<br></p>

</body>
</html>