<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG150 | Videók</title>
    <link rel="stylesheet" href="../styles/videos.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <button id="backbtn" onclick="window.location.href='../index.html'">Vissza a főoldalra</button>
    <div class="container">
        <img src="../assets/logo150.png" class="logo" alt="Logó">
        <h1 style="color: white; letter-spacing: 4px;">Videók</h1>
        <p>Itt találhatók a PG 150. évfordulójához kapcsolódó videók.</p>
        <div class="scroll-indicator"></div>
    </div>

    <div class="videos-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UYEDzt-R6Fc?si=659UM7aCivwk4_-U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <hr id="kisvonal">        
        <p>Ősballagás @ Sváb-Kovács Zoltán | 1974, Csengele - Jaksalak</p>
    </div>
    <hr>
    <p class="footer-text">&copy; Kovács Zoltán programozótársulat ev.<br>Made by Talio with ❤️ and ☕️<br></p>

</body>
</html>