@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 50%;
    text-align: center;
}


a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}