.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#kisvonal {
    width: 60%;
    border: 1px solid #ccc;
}

#backbtn {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}